<h2>Technical Skills</h2>
<div class="skills-grid">
    <div class="skill-category" *ngFor="let category of skills">
        <mat-card>
            <mat-card-header>
            <mat-card-title>{{category.category}}</mat-card-title>
            </mat-card-header>
            <ul class="skills-list">
                <li *ngFor="let skill of category.items">
                <img [src]="skill.icon" [alt]="skill.name" class="skill-icon">
                <div class="skill-info">
                    <h3>{{skill.name}}</h3>
                    <p>{{skill.description}}</p>
                </div>
                </li>
            </ul>
        </mat-card>
    </div>
</div>