<div class="about">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center">About</h1>
      <div class="row center">
        <h6 class="col s12 light">
          I was born in France, and currently live in Montreal, QC Canada.
          I have an Associate's degree in Computer Science from France,
          and worked in Web development for more than 10 years.
          I presently work as Senior Council for CGI Canada on an important project for the city hall of Montreal.
          During my free time, I like to freelance as this is where my passion lies and learn new technology and tools.
          I think it’s important to love doing what you do, so the passion will continue to motivate and improve yourself.
        </h6>
      </div>
    </div>
  </div>
</div>
