md-card {
  width: 400px;
  height: 300px;
  margin: 15px;
  &.card {
    //width: 100%;
    //height: 100%;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    //top: 0px;
    //left: 0px;
  }
}
md-card-title {
  margin-right: 10px;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 60px;
  min-width: 60px;
  margin-left: 5px;
}
md-card-content {
  margin-top: 15px;
}
span {
  display: inline-block;
  font-size: 13px;
}
md-card-footer {
  padding: 0 25px 25px;
}

.panel {
  width: 400px;
  height: 300px;
  margin: auto;
  position: relative;
  .front {
    z-index: 2;
  }
  .back {
    z-index: 1;
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  &:hover .front {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  &:hover .back {
    z-index: 2;
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
