.toolbar {
  .al-user-profile {
    float: right;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 80px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
    display: block;
    img {
      width: 80px;
      height: 80px;
      border: 2px solid #FFF;
      border-radius: 50%;
    }
  }
  span {
    padding-left: 10px;
  }
  .header-menu {
    button {
      background-color: transparent;
      border: none;
      color: #FFFFFF;
      font-size: 15px;
      border-left: 1px solid #FFF;
      &:first-child {
        border-left: none;
      }
    }
  }
}
