.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  width: 36px;
  height: 36px;
  border: 0;
  opacity: 1;
  position: relative;
  display: block;
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}