.toolbar {
  .lang {
    display: inline-block;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: .5px;
    font-weight: 500;
    border: 2px solid #F62D51;
    color: #F62D51;
    border-radius: 90px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
  }
  .al-user-profile {
    float: right;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 80px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
    display: block;
    img {
      width: 80px;
      height: 80px;
      border: 2px solid #FFF;
      border-radius: 50%;
    }
  }
  span {
    padding-left: 10px;
  }
  .header-menu {
    button {
      background-color: transparent;
      border: none;
      color: #FFFFFF;
      font-size: 15px;
      &:hover {
        color: #795548;
      }
      &:last-child:after{
        content: '';
      }
      &:after{
        display: inline-block;
        content: '/';
        color: #eee;
        margin: 0 15px;
      }
    }
  }
}
