<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <app-sidenav (click)="closeSidenav()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <div class="toolbar-left">
        <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-title">Portfolio</span>
      </div>
      
      <div class="toolbar-right">
        <button mat-icon-button [matMenuTriggerFor]="languageMenu">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="toggleLanguage()">
            {{ currentLanguage === 'EN' ? 'FR' : 'EN' }}
          </button>
        </mat-menu>
        <div class="avatar-container">
          <img src="https://gravatar.com/avatar/52491862d0d69ef4811526fbc6b6c146?size=256" alt="Profile" class="avatar">
        </div>
      </div>
    </mat-toolbar>

    <div class="content-container" [class.hidden]="!showContent">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>