<h2>Projects & Career</h2>
<mat-tab-group animationDuration="300ms" class="projects-tabs">
    <mat-tab label="Personal Projects">
        <div class="projects-grid" [@staggerAnimation]>
            <ng-container *ngIf="!isLoaded; else projectsContent">
                <app-skeleton-loader *ngFor="let i of [1,2,3]" width="300px" height="200px" [rounded]="true"></app-skeleton-loader>
            </ng-container>
            <ng-template #projectsContent>
                <div class="project-card" 
                        *ngFor="let project of personalProjects; let i = index" 
                        (click)="openProjectDetails(project)"
                        (keydown.enter)="openProjectDetails(project)"
                        tabindex="0"
                        role="button"
                        [attr.aria-label]="'View details for ' + project.title"
                        [@cardAnimation]
                        [style.animation-delay]="i * 100 + 'ms'">
                    <div class="project-image">
                        <img [src]="project.image" [alt]="project.title">
                        <div class="project-overlay">
                            <div class="tech-stack">
                            <img [src]="project.logo.icon" [alt]="project.title">
                            </div>
                        </div>
                    </div>
                    <div class="project-info">
                        <h3>{{project.title}}</h3>
                        <p>{{project.shortDescription}}</p>
                        <div class="tech-stack" *ngFor="let tech of project.stacks" >
                            <img [src]="tech.icon" 
                                    [alt]="tech.name" 
                                    class="tech-icon">
                        </div>
                        <button mat-raised-button color="primary" class="view-project-btn">
                            View Details
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Career Work">
        <div class="projects-grid" [@staggerAnimation]>
            <ng-container *ngIf="!isLoaded; else careerContent">
            <app-skeleton-loader *ngFor="let i of [1,2,3]" width="300px" height="200px" [rounded]="true"></app-skeleton-loader>
            </ng-container>
            <ng-template #careerContent>
                <div class="project-card" 
                        *ngFor="let project of careerProjects; let i = index" 
                        (click)="openProjectDetails(project)"
                        (keydown.enter)="openProjectDetails(project)"
                        tabindex="0"
                        role="button"
                        [attr.aria-label]="'View details for ' + project.title"
                        [@cardAnimation]
                        [style.animation-delay]="i * 100 + 'ms'">
                    <div class="project-image">
                    <img [src]="project.image" [alt]="project.title">
                    <div class="project-overlay">
                        <div class="tech-stack">
                        <img [src]="project.logo.icon" [alt]="project.logo.name">
                        </div>
                    </div>
                    </div>
                    <div class="project-info">
                        <h3>{{project.title}}</h3>
                        <p>{{project.shortDescription}}</p>
                        <div class="tech-stack">
                            <img *ngFor="let tech of project.stacks" 
                                    [src]="tech.icon" 
                                    [alt]="tech.name" 
                                    class="tech-icon">
                        </div>
                        <button mat-raised-button color="primary" class="view-project-btn">
                            View Details
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>
    </mat-tab>
</mat-tab-group>