<div layout="column" layout-fill="" class="ng-scope">
  <mat-sidenav flex="20" class="mat-closed ng-isolate-scope" tabindex="-1"></mat-sidenav>
  <mat-toolbar class="mat-medium-tall mat-default-theme">
    <div class="mat-toolbar-tools">
      <span>Fixed to Top</span>
      <span flex=""></span>
    </div>
  </mat-toolbar>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid">
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="container">
                <div class="section" id="section-skiils">
                    <div class="row">
                        <md-card class="col s12 m4"></md-card>
                        <md-card class="col s12 m4">
                            <canvas baseChart
                                    style="width: 200px; height:200px;"
                                    [data]="pieChartData"
                                    [labels]="pieChartLabels"
                                    [chartType]="pieChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                        </md-card>
                        <md-card class="col s12 m4"></md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-chip-list>
      <mat-chip>Papadum</mat-chip>
      <mat-chip>Naan</mat-chip>
      <mat-chip>Dal</mat-chip>
    </mat-chip-list>
  </main>
  <md-card class="mat-default-theme">
      <mat-icon>beenhere</mat-icon> Location: Tel Aviv
  </md-card>
</div>
