// Dialog styles
::ng-deep .project-details-dialog {
  .mat-mdc-dialog-container {
    padding: 0;
  }

  .mat-mdc-dialog-surface {
    border-radius: 8px;
    overflow: hidden;
  }
}

.projects-tabs {
  margin-top: 2rem;
  width: 100%;
  
  ::ng-deep {
    .mat-mdc-tab-header {
      margin-bottom: 2rem;
    }
    
    .mat-mdc-tab {
      font-size: 1.1rem;
      padding: 0 2rem;
      
      &.mat-mdc-tab-active {
        .mdc-tab__text-label {
          color: var(--primary-color);
        }
      }
    }
    
    .mat-mdc-tab-body-content {
      padding: 1rem 0;
    }
  }
} 