@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

// Add smooth scroll padding to account for fixed header
html {
  scroll-padding-top: 64px; // Adjust based on your header height
}