@import '~@angular/material/core/theming/all-theme';

@include md-core();

$app-primary: md-palette($md-grey, 800);
$app-accent:  md-palette($md-light-blue, 600, A100, A400);
$app-warn:    md-palette($md-grey, 500);

$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);

// $app-theme: md-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);



.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

