@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-grey, 800);
$app-accent:  mat-palette($mat-light-blue, 600, A100, A400);
$app-warn:    mat-palette($mat-grey, 500);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);


body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn {
    border-radius: 15px;
    background-color: #ee6e73;
  }
  .row {
    margin-bottom: 0px !important;
  }
}
